      sibdir : /Storage/ctdas-wrfstilt/sibcasa_fluxes_2010/day1×1/
      bgfdir : /Storage/co2simu/bgfluxes/3-hourly/
    footpdir : /Storage/ctdas-wrfstilt/new_stilt_footprints/flask/
    bounddir : /Storage/co2simu/co2_boundary/co2_total/
      samdir : /Storage/CO2/wei/test_additive_fluxfac/ctdas-stilt-base/input/
      outdir : /Storage/CO2/wei/test_additive_fluxfac/ctdas-stilt-base/output/20100101
        nsam : 100
  ndayscycle : 10
  sysstadate : 2010-01-01
  cycstadate : 2010-01-01
